/* واکنش‌گرایی */
@media (max-width: 768px) {
    main {
      padding: 15px;
      margin: 10px;
    }
  
    main h2 {
      font-size: 20px;
    }
  
    main ul li {
      font-size: 14px;
    }}

    /* style.css */
html, body {
    height: 100%; /* برای گسترش صفحه تا کل ارتفاع */
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1; /* محتوای اصلی بخش عمده صفحه را می‌گیرد */
  }
  /* admin_dashboard.css یا style.css */

/* تنظیم مشاوره‌ها */
#consultationsSection {
    width: 100%;
    max-width: 1200px; /* یا مقدار دلخواه */
    margin: 20px auto; /* وسط‌چین کردن */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  body.dark-theme #consultationsSection {
    background-color: #444;
    color: #fff;
  }
  
  #consultationsSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #consultationsSection ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  #consultationsSection ul li:last-child {
    border-bottom: none;
  }
  
  #consultationsSection ul li:hover {
    background-color: #f1f1f1;
  }
  
  body.dark-theme #consultationsSection ul li:hover {
    background-color: #555;
  }
  